.form-check-input{
    height: 17px;
    width: 17px;
}

.unborder-select{
    font-size: 14px;
    height: 30px;
    display: inline-block;
    /* width: 80px; */
}
.hidden-div{
    display: none;
    width: 60%;
}


.form-check-input:checked + .hidden-div{
    display: block;
}

nav{
    width: 99%;
}